body{
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}
.flex{
    display: flex;
}
.flex-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.container{
    width: 90%;
    margin: auto;
}
.wrapper{
    padding: 15px;
}
.card-blog{
    margin-bottom: 30px!important; 
}