header{
    border-bottom: 1px solid #ddd;
    .container{
        justify-content: space-between;
    }
    img{
        width: 50px;
    }
    span{
        color: black;
        font-size: 21px;
    }
    a{
        display: flex;
        align-items: center;
    }
    .top-links{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            margin: 0 10px;
        }
    }
}

footer{
    background: black;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

#detail{
    max-width: 70%;
    margin: 50px auto;
    h1{
        text-transform: capitalize;
        font-size: 35px;
    }
    div{
        margin-top: 50px;
    }
}